# Quantization Config

seed: 7

model:
  model_name: snuh/hari-q3-8b
  save_path: ./Quantization_Model/hari-q3-8b-awq

dataset:
  dataset_path: snuh/ClinicalQA
  num_calibration_samples: 256
  max_sequence_length: 4096


modifier_parameters:
  ignore: 
    - re:.*embed_tokens
    - re:.*mlp[.]gate$
    - lm_head
  scheme: W4A16
  targets:
    - Linear
    
  # duo_scaling: True
  # config_groups:
  #   group_0:
  #     targets:
  #       - Linear
  #     weights:
  #       num_bits: 4
  #       type: int
  #       symmetric: True
  #       group_size: 32
  #       strategy: group
  #       dynamic: False
  #       actorder: None
  #       observer: mse